# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\russo\Documents\BBW\2.Jahr\Neuer Ordner\Rutschmann\02_ConsoleCalculatorWithMaven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
